.task{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.task__title{
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.task__completed{
  margin-right: 1rem;
  margin-left: .5rem;
}

.task__content{
  margin-right: 1rem;
}

.task__btn-group{
  margin-left: auto;
}

.ctrl-btn{
  width: 20px;
  height: auto;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-bottom: .5rem;
  opacity: .1;
  display: block;
  &:last-child{
    margin-bottom: 0rem;
  }
  &:hover{
    opacity: 1;
  }
}

.task__del-btn{
  background-image: url("../../images/trash-icon.png");
}

.task__edit-btn{
  background-image: url("../../images/edit-icon.png");
}

.checkbox{
  position: absolute;
  opacity: 0;
  & + .checkbox-label{
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  & + .checkbox-label:before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  &:hover + .checkbox-label:before{
    background: @checkbox-color;
  }
  &:checked + .checkbox-label:before{
    background: @checkbox-color;
  }
  &:checked ~ .task__content{
    color: #b9b9b9;
    text-decoration: line-through;
  }
  &:checked + .checkbox-label:after{
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 480px){
  .task__btn-group{
    padding-top: 1rem;
  }

  .ctrl-btn{
    width: min-content;
    margin-bottom: 0rem;
  }
}