@media screen and (min-width: 769px){

  html{
      font-size: 62.5%;
  }
 }

@media screen and (min-width: 641px) and (max-width: 768px){

  html{
      font-size: 56%;
  }

  .card{
    width: 32%;
  }

  .card:nth-child(3n){
    margin-right: 0;
  }
}

@media screen and (max-width: 640px){

  html{
      font-size: 50%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  background-color: #50BCC5;
}

p{
  margin-bottom: 0;
  margin-top: 0;
}

.title{
  margin-top: 0;
  margin-bottom: 0;
}

.main-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.header__title{
  font-size: 8rem;
  margin: 1rem auto 3rem;
  text-transform: uppercase;
  color: #fff;
}

.card{
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card__title{
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  color: #50BCC5;
  font-size: 3.5rem;
}

.task{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.task__title{
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.task__completed{
  margin-right: 1rem;
  margin-left: .5rem;
}

.task__content{
  margin-right: 1rem;
}

.task__btn-group{
  margin-left: auto;
}

.ctrl-btn{
  width: 20px;
  height: auto;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-bottom: .5rem;
  opacity: .1;
  display: block;
}

.ctrl-btn:hover{
  opacity: 1;
}

.ctrl-btn:last-child{
  margin-bottom: 0rem;
}

.task__del-btn{
  background-image: url("../images/trash-icon.png");
}

.task__edit-btn{
  background-image: url("../images/edit-icon.png");
}

.button-wrapper{
  border-top: 1px #222 solid;
  text-align: center;
}

.add-button{
  min-width: 100%;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  border: none;
  color: #808080;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox + .checkbox-label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.checkbox + .checkbox-label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox:hover + .checkbox-label:before {
  background: #f35429;
}

.checkbox:checked + .checkbox-label:before {
  background: #f35429;
}

.checkbox:checked ~ .task__content {
  color: #b9b9b9;
  text-decoration: line-through;
}

.checkbox:checked + .checkbox-label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 1025px){
  .card{
    width: 22.25%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px){

  .card{
    width: 30%;
  }
}

@media screen and (max-width: 480px){
  .header__title{
    font-size: 6rem;
  }

  .card {
      width: 100%;
  }

  .task__btn-group{
    padding-top: 1rem;
  }

  .ctrl-btn{
    width: min-content;
    margin-bottom: 0rem;
  }
}
